/*==================================================
   TOC:
   a. General Styles 
   b. Canvas
   c. Typography
/*==================================================*/

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	overflow-y: inherit;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* b. Canvas
/* ------------------------------------------------------------------ */
canvas {
	display: block;
	mix-blend-mode: screen;
}

/* ------------------------------------------------------------------ */
/* c. Typography
/* ------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6, p {
	color: white;
}