/*==================================================
   TOC:
   a. General Styles
   b. Heading
   c. Label
   d. Search Bar
   e. Suggestions
/*==================================================*/

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
.center {
	text-align: center;
	align-items: center;
	justify-content: center;
}
.middle {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------------ */
/* b. Heading
/* ------------------------------------------------------------------ */
@keyframes flip {
	0%, 80% {
		transform: rotateY(360deg)
	}
}
.head {
	position: relative;
	font-size: 0%;
}
.head span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 3s infinite;
	animation-delay: calc(.3s * var(--i))
}

/* ------------------------------------------------------------------ */
/* c. Label
/* ------------------------------------------------------------------ */
#label {
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	margin-bottom: 16px;
	color: white;
}

/* ------------------------------------------------------------------ */
/* d. Search Bar
/* ------------------------------------------------------------------ */
.searchBar {
	width: 100%;
	display: flex;
	flex-direction: row;
}
#search {
	width: 100%;
	height: 44.8px;
	background: #f5f5f5;
	outline: none;
	border: none;
	border-radius: 25px;
	padding: 0 56px 0 24px;
	font-size: 16px;
}
#submit {
	width: 56px;
	height: 44.8px;
	margin-left: -56px;
	background: none;
	border: none;
}
#submit:hover {
	cursor: pointer
}

/* ------------------------------------------------------------------ */
/* e. Suggestions
/* ------------------------------------------------------------------ */
#s1, #s2, #s3 {
	background-color: #eee;
	border: none;
	color: black;
	padding: 5px 10px;
	text-align: center;
	display: inline-block;
	margin: 10px 2px auto auto;
	cursor: pointer;
	border-radius: 16px;
}
#s1:hover, #s2:hover, #s3:hover {
	background-image: linear-gradient(90deg, #9cffac, #9cffe0);
}