/*==================================================
   TOC:
   a. Animations
   b. Heading
   c. Search Bar
   d. Box
/*==================================================*/

/* ------------------------------------------------------------------ */
/* a. Animations
/* ------------------------------------------------------------------ */
@keyframes flip {
	0%, 80% {
		transform: rotateY(360deg)
	}
}

/* ------------------------------------------------------------------ */
/* b. Heading
/* ------------------------------------------------------------------ */
header {
	background-color: rgb(105, 209, 174);
	height: 90px;
	text-align: center;
}
.head {
	position: relative;
	font-size: 0%;
}
.head a span {
	position: relative;
	display: inline-block;
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 3s infinite;
	animation-delay: calc(.3s * var(--i))
}

/* ------------------------------------------------------------------ */
/* c. Search Bar
/* ------------------------------------------------------------------ */
.searchBar {
	width: 50%;
	display: flex;
	flex-direction: row;
	margin-left: 25%;
	margin-right: 25%;
}
#search {
	width: 100%;
	height: 40px;
	background: #f5f5f5;
	outline: none;
	border: none;
	border-radius: 25px;
	padding: 0 56px 0 24px;
	font-size: 16px;
}
#submit {
	width: 56px;
	height: 40px;
	margin-left: -56px;
	background: none;
	border: none;
}
#submit:hover {
	cursor: pointer
}

/* ------------------------------------------------------------------ */
/* d. Box
/* ------------------------------------------------------------------ */
.box {
	position: relative;
	padding-top: 10px;
	background: rgb(105, 209, 174, 0.7);
	border-radius: 20px;
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	display: inline-block;
}

/* ------------------------------------------------------------------ */
/* c. Section
/* ------------------------------------------------------------------ */
#info {
	height: 100%;
	max-height: 100%;
	background-color: rgb(152, 229, 203);
}

#coatOfArms {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 55%;
}
#flag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 75%;
	border-radius: 15px;
}

.idd, .time {
	column-count: 1;
}